body {
    background-color: black;
    color: beige;
}

.firstRow {
    /* border: 3px solid navy; */
    display: flex;
    justify-content: space-around;
    height: 25vh;
}

.player {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    flex-direction: column;
}

.score {
    width: 100%;
    height: 55%;
    border: 6px solid navy;
}

.secondRow {
    /* border: 3px solid navy; */
    display: flex;
    justify-content: space-around;
    height: 60vh;
}

#legend{
    margin: 0 auto;
}

.cluesDisplay {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border: 3px solid navy;
    width: 40%;
}

/* .draw {
    border: 3px solid navy;
    width: ;
} */

.category {
    margin: 0 auto;
    font-size: 40pt;
}

.word {
    height: 25%;
    display: flex;
    justify-content: space-around;
}

.thirdRow {
    display: flex;
    justify-content: space-around;
    height: 100%;
}

.letters {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
}

.chosenLetters {
    height: 65px;
    width: 70%;
    border: 3px solid navy;
    display: flex;
    align-items: center;
}

.btn {
    background-color: navy;
    color: yellow;
    width: 30%;
}

.hidden {
    color: transparent;
}

.leter {
    border: 3px solid navy;
    width: 60px;
    font-size: 60pt;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chosenLetter {
    font-size: 25pt;
    margin: 0 6px 0 6px;
}

.emoji {
    max-width: 40px;
}

.emojiWin {
    max-width: 40px;
}

.emojiLose {
    max-width: 40px;
}

.win {
    display: flex;
    justify-content: center;
    align-items: center;
}
.lose {
    display: flex;
    
}
.instructions {
    font-size: large;
    margin-left: 10px;
}